$darker-colour: #04162f;
$darkest-colour: #0c1122;
$primary-colour: #32a4dd;
$secondary-colour: #0a73a8;
$font-colour: #051e41;
$font-colour-light: #9ad2ee;
$button-colour: #1c7890;
$button-hover-colour: #0f495b;
$button-click-colour: #0a313d;
$button-outline-colour: #32ddc0;
$highlight-colour: #dd6b32; //opposite of primary colour according to Canva's Color Wheel application
$neutral-colour: #ccccd5;
$neutral-colour-dark: #acacbc;
$near-white: rgb(212, 232, 255);
